.wrapper {
  background-color: rgba(124, 86, 134, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(223, 181, 242, 0.6);
  padding: 12px 12px 0 12px;
  border-radius: 10px;
  margin-bottom: 20px;

  cursor: pointer;
  width: 100%;
  .card_container {
    transition: all ease-in-out 0.3s;
    display: flex;
    justify-content: space-between;

    .details {
      width: 100%;
      position: relative;

      .featured {
        color: #9857d3;
        font-size: 10px;
      }

      .header {
        color: #fff;
        font-size: 18px;
        margin-bottom: 10px;
      }

      .about_project {
        color: #fff;
        position: absolute;
        min-width: 130%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(8px);

        .about_project_text {
          line-height: 1.3em;
          font-size: 10px;
        }
      }
    }

    .image_container {
      width: 100%;
      padding-top: 15px 0 0 15px;
      border-radius: 8px;
      background-color: rgba(227, 127, 251, 0.2);
    }

    .project_image {
      width: 100%;
      height: 100%;
      max-height: 250px;
      min-height: 150px;
      object-fit: cover;
      border-radius: 8px 0 8px 0;
    }
  }
  .tools_redirect_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    .tools_used {
      width: 60%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;

      .tool_item {
        display: flex;
        align-items: center;
        border: 1px solid #fff;
        padding: 5px;
        border-radius: 5px;

        .tools_image {
          padding: 2px;
          width: 23px;
          height: 23px;
          margin-right: 5px;
        }
        .tool_name {
          font-size: 10px;
          color: #dcdcdc;
        }
      }
    }
    .redirect_container {
      display: flex;
      justify-content: flex-end;
      width: 30%;
      gap: 5px;

      .link_container {
        height: 35px;
        border: 1px solid #7a7a7a;
        display: flex;
        align-items: center;
        padding: 5px;
        gap: 5px;
        .link_image_container {
          .redirect {
            width: 15px;
            height: 15px;
            color: rgb(185, 183, 183);
          }
        }

        .link_text {
          font-size: 10px;
        }
      }
    }
  }
}

@media (min-width: 200px) and (max-width: 400px) {
  .wrapper {
    .card_container {
      transition: all ease-in-out 0.3;
      .details {
        .about_project {
          .about_project_text {
            font-size: 8px;
          }
        }
      }
    }
  }
}

@media (min-width: 767px) {
  .wrapper {
    .card_container {
      .details {
        .featured {
          font-size: 12px;
        }

        .header {
          font-size: 20px;
        }
        .about_project {
          padding: 10px;

          .about_project_text {
            font-size: 11px;
          }
        }
        .tools_redirect_container {
          margin-top: 105px;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .wrapper {
    .card_container {
      .details {
        .header {
          font-size: 25px;
        }
        .about_project {
          .about_project_text {
            font-size: 12px;
          }
        }
        .tools_redirect_container {
          margin-top: 110px;

          .tools_used {
            .tools_image {
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }
  }
}
