.card_container {
  width: 100%;
  // max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  margin-bottom: 20px;
}
