.links_container {
  display: none;
}
.main {
  flex-grow: 1;
}

@media (min-width: 767px) {
  .links_container {
    width: 50px;
    align-items: center;
    padding: 5px;
    display: flex;
    background-color: #ababab;
    border-radius: 0 6px 6px 0;
    position: fixed;
    left: 0;
    top: 44%;
    flex-direction: column;

    .image {
      padding: 5px;
    }
    .image:hover {
      border-radius: 6px;
      background-color: #cccaca;
      cursor: pointer;
    }
  }
}
