.main_container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  width: 90%;
  min-height: 100vh;
  margin: auto;
  margin-top: 100px;

  .image_container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    .image {
      border-radius: 50%;
      width: 170px;
      height: 170px;
    }
  }
  .intro_container {
    position: relative;
    margin-top: 30px;
    font-size: 18px;
    .badge {
      padding: 8px;
      border-radius: 8px;
      color: #7b4ae2;
      background-color: #1d142b;
      width: 210px;
      margin: auto;
      animation: glow 1s infinite;
    }

    .intro_name {
      color: #fff;

      font-size: 35px;
      margin: 15px auto 10px;
      text-align: center;
      border-right: 2px solid transparent;
      display: flex;
      justify-content: center;
      align-items: center;

      .cursor {
        margin-top: 10px;
        margin-left: 2px;
        display: inline-block;
        width: 4px;
        height: 40px;
        background-color: #fff;
        animation: blinkCursor 1.2s infinite steps(2);
      }
    }

    .intro_sentence {
      text-align: center;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
      color: #e7e7e7;
    }
    .socials_container {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      /* max-width: 40%; */
      .social_container {
        border: 0.01px solid rgb(233, 207, 255);
        margin: 10px;
        padding: 8px 10px 6px;
        border-radius: 2px;
        .social {
          z-index: 100;
          font-size: 21px;
          color: rgb(240, 236, 249);
        }
      }
    }
    .cv_container {
      margin-top: 30px;
      justify-content: center;
      display: flex;

      .cv_container_2 {
        color: #7b4ae2;
        display: flex;
        flex-direction: row;
        border: 1px solid #7b4ae2;
        border-radius: 8px;
        padding: 8px;
        animation: bounce 1s infinite;
      }
      .download_icon {
        font-size: 1.5em;
        font-weight: 100;
      }
    }
  }
}

@media (min-width: 767px) {
  .main_container {
    margin-top: -10%;
    flex-direction: row;
    width: 80%;

    .image_container {
      margin-top: 0;
      margin-right: 50px;
      .image {
        width: 200px;
        height: 200px;
      }
    }
    .intro_container {
      margin-top: 0;
      .badge {
        font-size: 20px;
        width: 220px;
        margin: 0;
      }
      .intro_name {
        font-size: 40px;
        justify-content: flex-start;
      }
      .intro_sentence {
        font-size: 18px;
        text-align: left;
      }
      .socials_container {
        cursor: pointer;
        justify-content: flex-start;
        margin-top: 15px;

        .social_container {
          transition: all 0.2s ease-in-out;
        }
        .social_container:hover {
          box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.6);
          transform: scale(1.06);
        }

        .social_container:first-child {
          margin-left: 0;
        }
      }

      .cv_container {
        position: absolute;
        left: 0;
        .cv_container_2 {
          cursor: pointer;
          transition: font-size 0.3s ease;
        }
        .cv_container_2:hover {
          font-size: 20px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .main_container {
    .image_container {
      margin-top: 50px;
      .image {
        width: 250px;
        height: 250px;
      }
    }
    .intro_container {
      .intro_name {
        font-size: 55px;
        .cursor {
          height: 60px;
        }
      }
      .intro_sentence {
        font-size: 22px;
      }
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

@keyframes blinkCursor {
  0%,
  49.9% {
    visibility: visible;
  }
  50%,
  100% {
    visibility: hidden;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(123, 74, 226, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(123, 74, 226, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(123, 74, 226, 0.5);
  }
}
