.skills_container {
  .skill_name {
    font-size: 0;
  }
  position: relative;
  min-width: 50px;
  min-height: 50px;
  background-color: #2d2341;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 1px solid #7b4ae2;
  transition: all 0.3s ease;
  &:hover {
    border: 2px solid #9a6efa;
    box-shadow: -1px 0px 13px 4px rgb(156, 112, 250, 0.5);
    transform: scale(1.05);
    .skill_name {
      // display: block;
      transition: all 0.2s ease;
      font-size: 10px;
      color: #dcdcdc;
    }
  }
  .skills_image {
    height: 40px;
    width: 40px;
  }
  .skill_name {
    position: absolute;
    bottom: -20px;
  }
}

@media (min-width: 767px) {
  .skills_container {
    min-width: 60px;
    min-height: 60px;
    .skills_image {
      height: 45px;
      width: 45px;
    }
  }
}

@media (min-width: 1024) {
  .skills_container {
    min-width: 75px;
    min-height: 75px;
    .skills_image {
      height: 65px;
      width: 65px;
    }
  }
}
